In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df_en = pd.read_csv('/content/drive/MyDrive/Thesis/final_en_data.csv')
df_bn = pd.read_csv('/content/drive/MyDrive/Thesis/final_bn_data.csv')
df_bn = df_bn.drop(['category'],axis=1)

df_bn.label = df_bn.label.astype(int)

In [ ]:
df_en.isnull().sum()

headline    0
content     0
label       0
dtype: int64

In [ ]:
df_en= df_en.rename({'headline': 'title', 'content': 'text','label': 'target'}, axis=1)
df_bn= df_bn.rename({'headline': 'title', 'content': 'text','label': 'target'}, axis=1)

In [ ]:
df_en['text'] = df_en['title'] +'. ' + df_en['text']
df_bn['text'] = df_bn['title'] +'। ' + df_bn['text']

In [ ]:
df_en.head()

                                               title  ... target
0  Invoking religion, a more disciplined Trump sp...  ...      1
1  Top Trump lieutenant Scaramucci lashes colleag...  ...      1
2                    Let Us Now Praise Famous Trumps  ...      0
3  U.S. seeks ship ban over North Korea violation...  ...      1
4                                      Links 11/3/16  ...      0

[5 rows x 3 columns]

In [ ]:
from bs4 import BeautifulSoup
import re 
import nltk

nltk.download("stopwords")   
nltk.download('punkt')
nltk.download('wordnet')

from nltk.corpus import stopwords 
lemma = nltk.WordNetLemmatizer()

# function to remove HTML tags
def remove_html_tags(text):
    return BeautifulSoup(text, 'html.parser').get_text()


# function to remove accented characters
import unicodedata
def remove_accented_chars(text):
    new_text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    return new_text


def decontracted(phrase):
    # specific
    phrase = re.sub(r"won\'t", "will not", phrase)
    phrase = re.sub(r"can\'t", "can not", phrase)

    # general
    phrase = re.sub(r"n\'t", " not", phrase)
    phrase = re.sub(r"\'re", " are", phrase)
    phrase = re.sub(r"\'s", " is", phrase)
    phrase = re.sub(r"\'d", " would", phrase)
    phrase = re.sub(r"\'ll", " will", phrase)
    phrase = re.sub(r"\'t", " not", phrase)
    phrase = re.sub(r"\'ve", " have", phrase)
    phrase = re.sub(r"\'m", " am", phrase)
    return phrase




# function to remove special characters
def remove_special_characters(text):
    # define the pattern to keep
    pat = r'[^a-zA-z0-9,!?/:;\"\'\s]' 
    return re.sub(pat, '', text)
 
import string
# function to remove punctuation
def remove_punctuation(text):
    text = ''.join([c for c in text if c not in string.punctuation])
    return text


# function to remove special characters
def remove_extra_whitespace_tabs(text):
    #pattern = r'^\s+$|\s+$'
    pattern = r'^\s*|\s\s*'
    return re.sub(pattern, ' ', text).strip()

"""
# function for stemming
def get_stem(text):
    stemmer = nltk.porter.PorterStemmer()
    text = ' '.join([stemmer.stem(word) for word in text.split()])
    return text

"""

# function to remove special characters
def lower(text):
    
    text = text.lower()
    return text





#Removal of stopwords 
def remove_stopwords_and_lemmatization(text):
    final_text = []
    text = text.lower()
    text = nltk.word_tokenize(text)
    
    for word in text:
        if word not in set(stopwords.words('english')):
            lemma = nltk.WordNetLemmatizer()
            word = lemma.lemmatize(word) 
            final_text.append(word)
    return " ".join(final_text)

#Total function
def cleaning(text):
    text = remove_html_tags(text)
    text = decontracted(text)    
    text = remove_accented_chars(text)
    text = remove_special_characters(text)
    text = remove_punctuation(text)
    text = remove_extra_whitespace_tabs(text)
    text = lower(text)
    #text = remove_stopwords_and_lemmatization(text)
    return text

#Apply function on text column

df_en['text']=df_en['text'].apply(cleaning)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [ ]:
df_en.shape

(65076, 3)

In [ ]:
df_en.isnull().sum()

title     0
text      0
target    0
dtype: int64

In [ ]:
ls

drive/  sample_data/

In [ ]:
cd drive/MyDrive/Thesis

/content/drive/MyDrive/Thesis

In [ ]:
from google.colab import  drive

drive.mount('/drive')
df_en.to_csv('/drive/My Drive/Thesis/without_stop_lemma_clean_english.csv', index = False)

Mounted at /drive

In [ ]:
drive.mount('/content/drive')
clean_english = pd.read_csv('/content/drive/MyDrive/Thesis/without_stop_lemma_clean_english.csv')
clean_english.head()

Mounted at /content/drive

                                               title  ... target
0  Invoking religion, a more disciplined Trump sp...  ...      1
1  Top Trump lieutenant Scaramucci lashes colleag...  ...      1
2                    Let Us Now Praise Famous Trumps  ...      0
3  U.S. seeks ship ban over North Korea violation...  ...      1
4                                      Links 11/3/16  ...      0

[5 rows x 3 columns]

In [ ]:
df_bn.head()

                                            title  ... target
0                              ৮ দিনে ১৮ বিল পাস!  ...      0
1    আ’লীগের জনসভায় লোকে লোকারণ্য ফেনী ট্রাংক রোড  ...      0
2  মাদ্রাসায় জোড়া খুন: পরিচালক তিন দিনের রিমান্ডে  ...      0
3        নেপালকে হারিয়ে গ্রুপ চ্যাম্পিয়ন বাংলাদেশ  ...      1
4             কুড়িগ্রামে ২ শিক্ষার্থীর লাশ উদ্ধার  ...      1

[5 rows x 3 columns]

In [ ]:
from bs4 import BeautifulSoup
import re 

from bnlp.corpus import stopwords, punctuations, letters, digits
from bnlp.corpus import stopwords
from bnlp.corpus.util import remove_stopwords

#from bnltk.stemmer import BanglaStemmer

import banglanltk as bn

# function to remove HTML tags
def remove_html_tags(text):
    return BeautifulSoup(text, 'html.parser').get_text()


 
import string
# function to remove punctuation
def remove_punctuation(text):
    text = ''.join([c for c in text if c not in string.punctuation])
    return text


# function to remove special characters
def remove_extra_whitespace_tabs(text):
    #pattern = r'^\s+$|\s+$'
    pattern = r'^\s*|\s\s*'
    return re.sub(pattern, ' ', text).strip()

def remove_bn_stopwords(text):
    final_text = []
    text = remove_stopwords(text, stopwords)
        
    for word in text:
      text = remove_stopwords(word, stopwords)
      final_text.append(word)
    return " ".join(final_text)





def bn_lemmatization(text):

    #text1 = bn.stemmer(text)
    return bn.stemmer(text)




#Total function
def cleaning(text):
    text = remove_html_tags(text)
  
    #text = remove_bn_stopwords(text)
    
    text = remove_punctuation(text)
    text = remove_extra_whitespace_tabs(text)
    #text = bn_lemmatization(text)
  
    return text

#Apply function on text column

df_bn['text']=df_bn['text'].apply(cleaning)

punkt not found. downloading...
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

/usr/local/lib/python3.7/dist-packages/gensim/similarities/__init__.py:15: UserWarning: The gensim.similarities.levenshtein submodule is disabled, because the optional Levenshtein package <https://pypi.org/project/python-Levenshtein/> is unavailable. Install Levenhstein (e.g. `pip install python-Levenshtein`) to suppress this warning.
  warnings.warn(msg)

In [ ]:
df_bn.shape

(14537, 3)

In [ ]:
df_bn.isnull().sum()

title     0
text      0
target    0
dtype: int64

In [ ]:
ls

drive/  sample_data/

In [ ]:
from google.colab import  drive

drive.mount('/drive')
df_bn.to_csv('/drive/My Drive/Thesis/withoutstopstm_clean_bengali.csv', index = False)

Mounted at /drive

In [ ]:
drive.mount('/content/drive')
clean_bengali = pd.read_csv('/content/drive/MyDrive/Thesis/withoutstopstm_clean_bengali.csv')
clean_bengali.head()

Mounted at /content/drive

                                            title  ... target
0                              ৮ দিনে ১৮ বিল পাস!  ...      0
1    আ’লীগের জনসভায় লোকে লোকারণ্য ফেনী ট্রাংক রোড  ...      0
2  মাদ্রাসায় জোড়া খুন: পরিচালক তিন দিনের রিমান্ডে  ...      0
3        নেপালকে হারিয়ে গ্রুপ চ্যাম্পিয়ন বাংলাদেশ  ...      1
4             কুড়িগ্রামে ২ শিক্ষার্থীর লাশ উদ্ধার  ...      1

[5 rows x 3 columns]

In [ ]:
!pip install bnlp_toolkit

Collecting bnlp_toolkit
  Downloading bnlp_toolkit-3.1.1-py3-none-any.whl (16 kB)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from bnlp_toolkit) (1.4.1)
Collecting sentencepiece
  Downloading sentencepiece-0.1.96-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 5.1 MB/s
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from bnlp_toolkit) (3.2.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from bnlp_toolkit) (1.19.5)
Requirement already satisfied: wasabi in /usr/local/lib/python3.7/dist-packages (from bnlp_toolkit) (0.8.2)
Collecting gensim==4.0.1
  Downloading gensim-4.0.1-cp37-cp37m-manylinux1_x86_64.whl (23.9 MB)
     |████████████████████████████████| 23.9 MB 74.5 MB/s
Collecting sklearn-crfsuite
  Downloading sklearn_crfsuite-0.3.6-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.7/dist-packages (from gensim==4.0.1->bnlp_toolkit) (5.1.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk->bnlp_toolkit) (1.15.0)
Requirement already satisfied: tqdm>=2.0 in /usr/local/lib/python3.7/dist-packages (from sklearn-crfsuite->bnlp_toolkit) (4.62.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from sklearn-crfsuite->bnlp_toolkit) (0.8.9)
Collecting python-crfsuite>=0.8.3
  Downloading python_crfsuite-0.9.7-cp37-cp37m-manylinux1_x86_64.whl (743 kB)
     |████████████████████████████████| 743 kB 60.9 MB/s
Installing collected packages: python-crfsuite, sklearn-crfsuite, sentencepiece, gensim, bnlp-toolkit
  Attempting uninstall: gensim
    Found existing installation: gensim 3.6.0
    Uninstalling gensim-3.6.0:
      Successfully uninstalled gensim-3.6.0
Successfully installed bnlp-toolkit-3.1.1 gensim-4.0.1 python-crfsuite-0.9.7 sentencepiece-0.1.96 sklearn-crfsuite-0.3.6

In [ ]:
pip install banglanltk

Collecting banglanltk
  Downloading banglanltk-0.0.4-py3-none-any.whl (462 kB)
     |████████████████████████████████| 462 kB 5.1 MB/s
Installing collected packages: banglanltk
Successfully installed banglanltk-0.0.4

In [ ]:
import banglanltk as bn

# For single word
print(bn.stemmer('ছাত্রীকে'))

# For multiple words
text = 'আজ বৃষ্টি হবে।'
words = bn.word_tokenize(text)
for w in words:
    print(bn.stemmer(w))

ছাত্রী
আজ
বৃষ্টি
হব